<!DOCTYPE html>
<html>

<head>
    <title>Add Member</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <h1>Add Member</h1>

    <div class="box">

        <h2>Enter Member Details</h2>

        <form method="POST">

            <label>Member Name</label>
            <input type="text" name="name">

            <label>Email</label>
            <input type="email" name="email">

            <label>Phone</label>
            <input type="text" name="phone">

            <button type="submit">Add Member</button>

        </form>

    </div>

</body>

</html>
