<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <h1>Add Book</h1>

    <div class="box">

        <h2>Enter Book Details</h2>

        <form>

            <label>Book Name</label>
            <input type="text">

            <label>Author</label>
            <input type="text">

            <label>Status</label>
            <input type="text">

            <button type="submit">Add Book</button>

        </form>

    </div>

</body>
</html>