<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <h1>Books</h1>

    <div class="box">
        <h2>Available Books</h2>

        <table>
            <tr>
                <th>ID</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Python</td>
                <td>John</td>
                <td>Available</td>
            </tr>

            <tr>
                <td>2</td>
                <td>HTML</td>
                <td>David</td>
                <td>Available</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Django</td>
                <td>James</td>
                <td>Issued</td>
            </tr>
        </table>

    </div>

</body>
</html>