<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    
    <h1>Library Management System</h1>

     <div class="menu">
        <button>Home</button>
        <button>Books</button>
        <button>Members</button>
        <button>Add Book</button>
    </div>

    <div class="box">
        <h2>Welcome to Library</h2>
        <p>Manage your books easily.</p>

        <button onclick="showMsg()">Get started</button>
    </div>

    <script src="/static/js/script.js"></script>

</body>
</html>