body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: darkblue;
}

.menu {
    margin: 20px;
}

.menu a,
.menu button {
    margin: 5px;
    padding: 8px 15px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

.box {
    background-color: white;
    width: 550px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 6px;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid gray;
    padding: 10px;
}

th {
    background-color: lightblue;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 8px;
}

.add {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

.delete {
    color: red;
    text-decoration: none;
}

.add {
    color: green;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.edit {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.delete {
    color: red;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}
